* { /* Reset css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

/*=================*/
/*      Header     */
/*=================*/

header{
    display: flex;
    align-items: center;
    padding: 0.2vh;
    color: white;
    justify-content: space-between;
}

header h1 {
    text-align: start;
    font-size: 2rem;
    justify-self: start;
    margin-right: 1%;
}

header button{
    border: 2px solid #404040;
    background-color: #1F1F1F;
    color: white;
    padding: 2%;
    border-radius: 50%;
}

header button:hover, header input:hover, header a:hover{
    background-color: #2A2A2A;
}

header input{
    border: 1px solid #404040;
    background-color: #1F1F1F;
    color: white;
    width: 55vh;
    border-radius: 30px;
    padding: 3%;
}

header a{
    border: 2px solid #404040;
    background-color: #1F1F1F;
    color: white;
    padding: 0.7%;
    border-radius: 50%;
    margin-left: 1%;
}

nav{
    display: flex;
    align-items: center;
    color: white;
    width: auto;
    gap: 3%;
}

/*=================*/
/*     Contenu     */
/*=================*/

.container {
    margin-top: 0.2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px 250px;
    gap: 10px;
    min-height: 90vh;
}

.container-un {
    background-color: #202020;
    grid-column: 1 / 1;
    border-radius: 10px;
    margin-left: 2%;
    bottom: 0;
    grid-row: 1/3;
    color: white;
}


/*=================*/
/*Cont-Header  Bibl*/
/*=================*/
.container-Result{
    margin: 2%;
}

.btn-add-playlist{
    color: white;
    background-color: #202020;
    border: none;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
}

.btn-add-playlist:hover{
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}
.container-un div:nth-child(2){
    display: flex;
    justify-content: space-around;
}



.container-un div:nth-child(2) button{
    color: white;
    font-weight: bold;
    background-color: rgba(83, 90, 97, 0.22);
    border-radius: 40px;
    font-size: 1.1rem;
    border: none;
    padding: 1.2vh;
}
/*=================*/
/*  Result Search  */
/*=================*/

#container-Search{
    margin: 3%;
    height: 41rem;
    overflow: auto;
}

.container-result-search{
    display: flex;
    flex-direction: column;
}
.result-search{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
}

.container-result-search:nth-child(even) .result-search{
    background-color: rgba(83, 90, 97, 0.22);
}

.container-result-search:hover .result-search{
    border: 1px solid white;
}
/*=================*/
/*  Contenu Album  */
/*=================*/
.container-deux {
    color: white;
    background-color: #202020;
    grid-column: 2/4;
    border-radius: 10px;
    margin-right: 1%;
    grid-row: 1/3;
    overflow-y: auto;
}

.header-Result{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.container-deux h2{
    text-align: start;
    margin: 3vh;

}

.container-playlist .album img{
    border-radius: 10px;
    cursor: pointer;
    padding: 5%;
}

.container-playlist .album:hover{
    background-color: #4a4949;
    border-radius: 10px;
}

.container-playlist .album p:nth-child(2){
    font-weight: bold;
}

.container-playlist{
    display: flex;
    gap: 7%;
    margin: 2%;
}

.container-tendance:nth-child(1){
    display: flex;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 2%;
    gap: 1%;
}

.container-tendance:nth-child(2){
    display: flex;
    margin-left: 2%;
    gap: 1%;
}

.container-tendance div{
    overflow: hidden;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5%;
    border-radius: 5px;
    background-color: rgba(83, 90, 97, 0.22);
    width: 35%;
    cursor: pointer;
    height: auto;
}

.container-tendance div:hover{
    background-color: #4a4949;
}


/*=================*/
/*   Bar audio     */
/*=================*/

section:nth-child(3) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
}

audio{
    border-radius: 20px;
}

/*=================*/
/*      Widget     */
/*=================*/

#container-search-phone{
    position: fixed;
    /* opacity: 0; */ 
    background-color: blue; /* finir */
    z-index: 1;
    
}

@media (max-width: 800px) {
    .container-playlist{
        flex-wrap: wrap;
    }
    .container-un{
        display: none;
    }

    #search{
        width: 30vh;
    }
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
    #welcome{
        font-size: 3vh;
    }
    .container-tendance div{
        flex-wrap: wrap;
    }
    .container-deux .container-playlist img{
        width: 18vh;
    }
    .container-deux{
        margin-bottom: 100px;
    }
}

@media (max-width: 700px) {
    .container-tendance div{
        display: none;
    }
    #welcome, h2{
        display: none;
    }
    header{
        justify-content: center;
    }
    #audio{
        width: 35vh;
        height: 4vh;
    }

    .album p{
        font-size: 1.8vh;
    }
    .container-deux .container-playlist img{
        width: 15vh;
    }
    .container-deux{
        display: flex;
        justify-content: center;
    }
    .container-playlist{
        justify-content: center;
    }
    
}