* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*
:root {
  --bg-color: #ffffff;
  --text-color: #242424;
}
:root[data-theme="dark"] {
  --bg-color: #242424;
  --text-color: #ffffff;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
*/