* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: black;
  --texte-color: #ffffff;
  --bg-popu-color: #141414;
  --bg-nav-color: #363535fc;
  --bg-HomePage-tendance: #2c2c2e;
  --bg-HomePage-tendance-hover: #484848;
}

:root[data-theme="clair"] {
  --bg-color: #ffffff;
  --texte-color: black;
  --bg-popu-color: #e4e2e2e3;
  --bg-nav-color: #e4e2e2e3;
  --bg-HomePage-tendance: #c5c3c3e3;
  --bg-HomePage-tendance-hover: #a19e9ee3;
  --bg-nav-laptob: #e4e2e2e3;
}
:root[data-theme="dark"] {
  --bg-color: black;
  --texte-color: #ffffff;
  --bg-popu-color: #141414;
  --bg-nav-color: #363535fc;
  --bg-HomePage-tendance: #2c2c2e;
  --bg-HomePage-tendance-hover: #484848;
  --bg-nav-laptob: #141414;
}